<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.mapper.DataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.entity.Data">
        <id column="data_id" property="dataId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="data_name" property="dataName" />
        <result column="cover" property="cover" />
        <result column="address" property="address" />
        <result column="md5_str" property="md5Str" />
        <result column="data_type" property="dataType" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        create_by,
        update_time,
        update_by,
        data_id, data_name, cover, address, md5_str, data_type, remark
    </sql>

</mapper>
